<div class="page" data-name="create_data_profile">
  <div class="navbar">
      <div class="navbar-inner sliding">
          <!-- <div class="left bar-icon">
             <a href="/index/">
                <i class="icon icon-back"></i>
             </a>
          </div> -->
          <div class="title">Add data to your profile</div>
       </div>
  </div>
  <div class="page-content login-screen-content">
    <!-- <img class="icon-app" src="img/icon.png" alt="" width="80%" height="300px;" style="border-radius: 50%; margin-top: 5%; margin-left: 10%;"> -->
    <form action="#" method="POST" class="form-regis-submit">
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Upload foto</div>
              <div class="item-input-wrap">
                <div class="text-align-center">
                  <a id="btn-get-photo">
                    <img src="" alt="" class="upload-photo" id="upload-photo">
                    <span class="button" id="text-photo">Tambahkan Foto</span>
                  </a>
                </div>

              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Nama</div>
              <div class="item-input-wrap">
                <input type="text" placeholder="Nama lengkap" id="nama">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Jenis Kelamin</div>
              <div class="item-input-wrap">
                <select placeholder="Please choose..." id="jenis_kelamin">
                  <option value="Pria">Pria</option>
                  <option value="Wanita">Wanita</option>
                </select>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Tanggal Lahir</div>
              <div class="item-input-wrap">
                <input type="date" value="1990-01-01" placeholder="Please choose..." id="tanggal_lahir">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Nomor Ponsel</div>
              <div class="item-input-wrap">
                <input type="number" placeholder="081234567890" id="nomor_ponsel">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li>
            <a class="item-link smart-select smart-select-init">
              <select name="kota" id="kota">
                <option value="Surabaya" selected>Surabaya</option>
                <option value="Jakarta">Jakarta</option>
                <option value="Bandung">Bandung</option>
                <option value="Jogjakarta">Jogjakarta</option>
                <option value="Semarang">Semarang</option>
                <option value="Bogor">Bogor</option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Kota Tinggal</div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="item-link smart-select smart-select-init" data-open-in="sheet">
              <select name="mac-windows" id="bekerja">
                <option value="ya" selected>Ya</option>
                <option value="tidak">Tidak</option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Bekerja ?</div>
                </div>
              </div>
            </a>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Deskripsi</div>
              <div class="item-input-wrap">
                <textarea placeholder="Tentang anda" id="deskripsi"></textarea>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="block">
        <a class="button button-big button-fill color-green" id="btn-create-profile">Simpan</a>
        <a class="item-link" id="btn-skip-profile">Lewati</a>
      </div>
    </form>
  </div>
</div>
