<div class="page" data-name="makcomblang_home">
  <div class="navbar">
      <div class="navbar-inner sliding">
          <div class="left bar-icon">
             <a href="#" class="panel-open">
                <i class="f7-icons">bars</i>
             </a>
          </div>
          <div class="title">Home</div>
       </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <div class="block">
      <div class="list links-list">
        <div class="title-content">Client</div>
        <ul>
          <li><a href="/daftar_client/" id="daftar-client">Daftar Client</a></li>
          <li><a href="/request/" id="daftar-client">Request Client</a></li>
          <!-- <li><a href="/daftar_makcomblang/" id="daftar-makcomblang">Daftar Makcomblang</a></li> -->
        </ul>
      </div>
      <div class="list links-list">
        <div class="title-content">Makcomblang</div>
        <ul>
          <!-- <li><a href="/makcomblangmu/">Daftar Client</a></li> -->
          <li><a href="/daftar_makcomblang/" id="daftar-makcomblang">Daftar Makcomblang</a></li>
        </ul>
      </div>
    </div>
    <div class="outer-content">
      <div class="title-content">Top 5 Makcomblang</div>
      <div class="swiper-container swiper-init demo-swiper" data-slides-per-view="2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-detail">
              <div class="swiper-img">
                <img src="https://picsum.photos/200/300" class="img-top5">
              </div>
              <div class="swiper-text">
                <p class="text-top5">Tes</p>
              </div>
              <div class="swiper-button">
                <a class="button button-fill color-green button-top5">Send Request</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-detail">
              <div class="swiper-img">
                <img src="https://picsum.photos/200/300" class="img-top5">
              </div>
              <div class="swiper-text">
                <p class="text-top5">Tes</p>
              </div>
              <div class="swiper-button">
                <a class="button button-fill color-green button-top5">Send Request</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-detail">
              <div class="swiper-img">
                <img src="https://picsum.photos/200/300" class="img-top5">
              </div>
              <div class="swiper-text">
                <p class="text-top5">Tes</p>
              </div>
              <div class="swiper-button">
                <a class="button button-fill color-green button-top5">Send Request</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
        </div>
      </div>
    </div>
  </div>
</div>
