<div class="page" data-name="profile">
  <div class="navbar">
      <div class="navbar-inner sliding">
          <div class="left bar-icon">
             <a href="#" class="panel-open">
                <i class="f7-icons">bars</i>
             </a>
          </div>
          <div class="title">Profile</div>
       </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <form action="#" method="POST" class="form-regis-submit">
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Upload foto</div>
              <div class="item-input-wrap">
                <div class="text-align-center">
                  <a id="btn-update-photo">
                    <img src="" alt="" class="upload-photo" id="profile-photo">
                    <span class="button" id="text-photo">Unggah Foto</span>
                  </a>
                </div>

              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Nama</div>
              <div class="item-input-wrap">
                <input type="text" placeholder="Nama lengkap" id="profile-nama">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Jenis Kelamin</div>
              <div class="item-input-wrap">
                <select placeholder="Please choose..." id="profile-jenis_kelamin">
                  <!-- <option value="Pria">Pria</option>
                  <option value="Wanita">Wanita</option> -->
                </select>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Tanggal Lahir</div>
              <div class="item-input-wrap">
                <input type="date" value="1990-01-01" placeholder="Please choose..." id="profile-tanggal_lahir">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Nomor Ponsel</div>
              <div class="item-input-wrap">
                <input type="number" placeholder="081234567890" id="profile-nomor_ponsel">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li id="select-profile-kota">
            <!-- <a class="item-link smart-select smart-select-init" > -->
              <!-- <select name="kota" id="profile-kota"> -->
                <!-- <option value="Surabaya" selected>Surabaya</option>
                <option value="Jakarta">Jakarta</option>
                <option value="Bandung">Bandung</option>
                <option value="Jogjakarta">Jogjakarta</option>
                <option value="Semarang">Semarang</option>
                <option value="Bogor">Bogor</option> -->
              <!-- </select> -->
              <!-- <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Kota Tinggal</div>
                </div>
              </div> -->
            <!-- </a> -->
          </li>
          <li id="select-profile-bekerja">
            <!-- <a class="item-link smart-select smart-select-init" data-open-in="sheet">
              <select name="mac-windows" id="bekerja">
                <option value="ya" selected>Ya</option>
                <option value="tidak">Tidak</option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Bekerja ?</div>
                </div>
              </div>
            </a> -->
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Deskripsi</div>
              <div class="item-input-wrap">
                <textarea placeholder="Tentang anda" id="profile-deskripsi"></textarea>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="block">
        <a class="button button-big button-fill color-green" id="btn-update-profile">Perbarui Profile</a>
      </div>
    </form>
  </div>
</div>
