<div class="page" data-name="review_makcomblang">
  <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
             <a href="#" class="back link icon-only">
                <i class="icon icon-back"></i>
             </a>
         </div>
        <div class="title">Review Makcomblang</div>
       </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <div class="block">
      <div class="title-content">Review Makcomblang</div>
      <form action="#" method="POST" class="form-regis-submit">
        <div class="list">
          <div class="rating">
            <label>
              <input type="radio" name="stars" value="1" />
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="2" />
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="3" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="4" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="5" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
          </div>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Review</div>
              <div class="item-input-wrap">
                <textarea placeholder="Tuliskan review anda disini ..." id="review"></textarea>
              </div>
            </div>
          </li>
        </div>
        <div class="block">
          <a class="button button-big button-fill color-green" id="btn-review">Kirim</a>
        </div>
      </form>
    </div>
</div>
