<div class="page" data-name="home">
  <div class="navbar">
      <div class="navbar-inner sliding">
          <div class="left bar-icon">
             <a href="#" class="panel-open">
                <i class="f7-icons">bars</i>
             </a>
          </div>
          <div class="title">Chat</div>
       </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <!-- <div class="block">
      <div class="title-content">Top 3 Makcomblang</div>
      <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <a class="swiper-slide">Slide 1</a>
          <a class="swiper-slide">Slide 2</a>
          <a class="swiper-slide">Slide 3</a>
        </div>
      </div>
      <div class="list links-list">
        <ul>
          <li><a href="#">Makcomblangmu</a></li>
          <li><a href="#" id="daftar-makcomblang">Daftar Makcomblang</a></li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
