<div class="page" data-name="daftar_makcomblang">
  <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
             <a href="#" class="back link icon-only">
                <i class="icon icon-back"></i>
             </a>
         </div>
        <div class="title">Daftar Makcomblang</div>
       </div>
       <div class="subnavbar">
        <!-- Searchbar with auto init -->
        <form class="searchbar">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">Cancel</span>
          </div>
        </form>
      </div>
  </div>
  <div class="fab fab-right-bottom">
    <a href="#">
      <!-- Icons For iOS Theme -->
      <i class="f7-icons">data</i>
      <i class="f7-icons">close</i>
    </a>
    <!-- FAB speed dial actions -->
    <div class="fab-buttons fab-buttons-top">
      <a href="#" class="fab-label-button">
        <span><i class="f7-icons">filter</i></span>
        <span class="fab-label">Filter</span>
      </a>
      <a href="#" class="fab-label-button">
        <span><i class="f7-icons">sort</i></span>
        <span class="fab-label">Urutkan</span>
      </a>
    </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <!-- Searchbar backdrop -->
    <div class="searchbar-backdrop"></div>
    <!-- hide-on-search element -->
    <div class="block searchbar-hide-on-search" hidden>
      <p>This block will be hidden on search. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="list media-list">
      <ul id="list-makcomblang">
        <!-- tampilan dafatar makcomblang -->
        <!-- <li>
          <a class="item-link item-content">
            <div class="item-media"><img src="https://picsum.photos/200/300" width="44"/></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Yellow Submarine</div>
              </div>
              <div class="item-subtitle">Beatles</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media"><img src="https://picsum.photos/200/300/?random" width="44"/></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Don't Stop Me Now</div>
              </div>
              <div class="item-subtitle">Queen</div>
            </div>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
