<div class="page" data-name="login">
  <div class="navbar">
      <div class="navbar-inner sliding">
          <div class="left bar-icon">
             <a href="/index/">
                <i class="icon icon-back"></i>
             </a>
          </div>
          <div class="title">Login</div>
       </div>
  </div>
  <div class="page-content login-screen-content" id="login-page">
    <img class="icon-app" src="img/icon.png" alt="" width="80%" height="300px;" style="border-radius: 50%; margin-top: 5%; margin-left: 10%;">
    <form action="#" method="POST" class="form-login-submit">
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Username</div>
              <div class="item-input-wrap">
                <input type="text" autofocus="" name="username" id="username-login" placeholder="Your username" required validate>
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Password</div>
              <div class="item-input-wrap">
                <input type="password" name="password" id="password-login" placeholder="Your password" required validate>
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="list btnsignin">
        <ul>
          <li><a href="#" class="item-link list-button" id="btnsignin">Masuk</a></li>
        </ul>
      </div>
    </form>
  </div>
</div>
