<div class="page" data-name="makcomblangmu">
  <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
             <a href="#" class="back link icon-only">
                <i class="icon icon-back"></i>
             </a>
         </div>
        <div class="title">Makcomblangmu</div>
       </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <div class="block">
      <div class="notice-content">Geser user yang dipilih ke kiri untuk memproses</div>
    </div>
    <div class="list">
      <ul id="list-makcomblangmu">

      </ul>
    </div>
  </div>
</div>
