<div class="page" data-name="request">
  <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
             <a href="#" class="back link icon-only">
                <i class="icon icon-back"></i>
             </a>
         </div>
          <div class="title">Request</div>
       </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <div class="block">
      <div class="notice-content">Geser permintaan ke kiri untuk memproses permintaan</div>
    </div>

    <div class="list">
      <ul id="request-list">
        <!-- <li class="swipeout">
          <div class="item-content swipeout-content">
            <div class="item-media">
              <img src="https://picsum.photos/200/300" width="60" height="60" style="border-radius: 50%;"/>
            </div>
            <div class="item-inner">
              <div class="item-subtitle">Client Rene mengirimi anda permintaan</div>
            </div>
          </div>
          <div class="swipeout-actions-right">
            <a href="#" class="color-green alert-reply swipeout-delete">Terima</a>
            <a href="#" class="color-red alert-forward swipeout-delete">Tolak</a>
            <a href="#" class="color-blue alert-reply">Detail</a>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>
