<div class="page" data-name="request_makcomblang">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
           <a href="#" class="back link icon-only">
              <i class="icon icon-back"></i>
           </a>
       </div>
      <div class="title">Kirim Permintaan</div>
     </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <div class="block">
      <div class="notice-content">Untuk membantu kecocokan yang dilakukan oleh makcomblang maka jawab pertanyaan-pertanyaan berikut ini.</div>
      <div class="card card-question">
        <div class="card-header" id="text-question"></div>
        <div class="card-content card-content-padding">
          <div class="list request-jawaban">
            <ul id="text-answer">
              <!-- <li>
                <label class="item-radio item-content">
                  <input type="radio" name="demo-radio" value="Books" checked />
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">Ya</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="item-radio item-content">
                  <input type="radio" name="demo-radio" value="Movies"/>
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">Tidak</div>
                  </div>
                </label>
              </li> -->
            </ul>
          </div>
        </div>
        <!-- <div class="card-footer">Apakah penampilan dari seseorang itu penting ?</div> -->
      </div>
      <div class="card card-priority">
        <div class="card-header">Apakah pertanyaan ini penting bagi anda untuk dijawab orang lain ?</div>
        <div class="card-content card-content-padding">
          <div class="list request-jawaban">
            <ul>
              <li>
                <label class="item-radio item-content">
                  <input type="radio" name="priority-radio" value="0"/>
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">Tidak Penting</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="item-radio item-content">
                  <input type="radio" name="priority-radio" value="1" checked/>
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">Penting</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="item-radio item-content">
                  <input type="radio" name="priority-radio" value="2"/>
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">Sangat Penting</div>
                  </div>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="card-footer">Apakah penampilan dari seseorang itu penting ?</div> -->
      </div>

    </div>
    <div class="bottom-fixed row">
      <a class="col button button-big button-fill color-green" id="btn-request-next">Selanjutnya</a>
    </div>
  </div>
</div>
