/* html{
  font-family: 'Indie Flower', cursive;
} */
#page-index{
  background-color: #2196f3;
}
.title-app{
  font-size: 24px;
  color: white;
}
/* .outline-app{
  height: 0.5px;
  background: #8e8e93;
} */
.bottom-fixed{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.need-margin{
  margin-top: 15px;
}
.index-container{
  text-align: center;
  /* color: #f9eded; */
  font-size: 20px;
}
.btnsignin{
  width: 95%;
}
.bar-icon{
  margin-left: 5%;
}
.panel-profile-picture{
  height: 100px;
  width: 40%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 50%;
  border-radius: 50%;
}
.panel-profile-username{
  margin-left: 10%;
}
.header-panel{
  height: 120px;
}
.notice-content{
  font-size: 12px;
  color: #7d8893;
}
/* Home page */
.home-container{
  border: 1px solid black;
  margin-top: 5%;
}
.center-icon-link{
  width: 100%;
  margin-left: 40%;
  margin-right: 40%;
}
.title-content{
  font-size: 18px;
  color: #7d8893;
}
/* swiper */
.outer-content{
  background: #fcf4f4;
  padding: 3px;
  height: 265px;
  border-top: 1px solid #ddcece;
  border-bottom: 1px solid #ddcece;
}
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
  margin-left: 10px;
  border-radius: 10px;
}
.demo-swiper {
  margin: 3px 0 35px;
  font-size: 18px;
  height: 220px;

}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}
.swiper-detail{
  width: 100%;
  height: 100%;
}
.swiper-img{
  /* width: 75%;
  height: 75%;
  border-radius: 50%;
  margin-left: 12%;
  margin-right: 12%; */
  /* border: 1px solid #ddd; */
  width: 100%;
  height: 50%;

}
.swiper-text{
  /* font-size: 14px; */
  /* border: 1px solid #ddd; */
  width: 100%;
  height: 15%;
  font-size: 14px;
  text-align: center;
}
.swiper-button{
  /* font-size: 14px; */
  /* border: 1px solid #ddd; */
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 34%;
  font-size: 14px;
  text-align: center;
}
.img-top5{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 100%;
  border-radius: 50%;
}
.button-top5{
  margin-top: 10%;
}

/* Create data profile */
.upload-photo{
  width: 65%;
  height: 20%;
  /* border: 1px solid black; */
  margin-left: 17.5%;
  margin-right: 17.5%;
}

/* Detail makcomblang */
.criteria-attribute{
  text-align: right;
  width: 20%;
  border: 1px solid black;
}
.detail-data-makcomblang{
  margin-top: 10px;
}
.ratings-checked{
  color: orange;
}
.button-request-makcomblang{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}
.detail-image-user{
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%;
}
.heart-icon{
  font-size: 15px;
  color: red;
}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
