<div class="page" data-name="decision_client">
  <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
             <a href="#" class="back link icon-only">
                <i class="icon icon-back"></i>
             </a>
         </div>
        <div class="title">Keputusan</div>
       </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <div class="block">
      <div class="title-content">Apakah anda merasa cocok terhadap orang yang telah dicomblangkan oleh Makcomblang anda ?</div>
      <div class="row">
        <a class="col button button-outline" href="#" id="decision_yes">Ya</a>
        <a class="col button button-outline" href="#" id="decision_no">Tidak</a>
      </div>
      <div class="notice-content need-margin">Catatan : Jika anda tidak cocok / ragu terhadap pilihan yang telah diberikan Makcomblang maka Makcomblang bisa mencarikan pasangan lagi yang lebih cocok untuk anda.</div>
    </div>
  </div>
</div>
