<div class="page" data-name="detail_makcomblang">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
           <a href="#" class="back link icon-only">
              <i class="icon icon-back"></i>
           </a>
       </div>
      <div class="title" id="detail-makcomblang-title"></div>
     </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <div class="bottom-fixed button-request-makcomblang">
        <a href="#" class="col button button-big button-fill color-green" id="btn-request-makcomblang">Kirim Permintaan</a>
    </div>
    <div class="block">
      <div class="row">
        <div class="col-40"><img class="detail-image-makcomblang" src="" alt="" width="100%" height="120px;" style="border-radius: 50%;"></div>
        <div class="col-60">
          <div style="font-weight: bold;"><span id="detail-header-makcomblang-nama"></span> </div>
          <div class="ratings">
            <div class="detail-rating-makcomblang">
              <span class="fa fa-star ratings-checked"></span>
              <span class="fa fa-star ratings-checked"></span>
              <span class="fa fa-star ratings-checked"></span>
              <span class="fa fa-star ratings-checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <div class="row detail-data-makcomblang">
            <div class="col" style="text-align: center;">
              <div style="font-weight: bold;" id="detail-total-client-makcomblang">100</div>
              <span>Total Client</span>
            </div>
            <div class="col" style="text-align: center;">
              <div style="font-weight: bold;" id="detail-total-sukses-makcomblang">87</div>
              <span>Sukses</span>
            </div>
          </div>
        </div>

      </div>
      <div class="list">
        <ul>
          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Informasi Umum</div>
              </div></a>
              <div class="accordion-item-content">
                <div class="block">
                  <p style="color: gray;"> Nama : <span id="detail-makcomblang-nama"></span> </p>
                  <p style="color: gray;"> Email : <span id="detail-makcomblang-email"></span> </p>
                  <p style="color: gray;"> Jenis Kelamin : <span id="detail-makcomblang-kelamin"></span> </p>
                  <p style="color: gray;"> Kota : <span id="detail-makcomblang-kota"></span > </p>
                </div>

              </div>
          </li>
          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Deskripsi</div>
              </div></a>
            <div class="accordion-item-content">
              <div class="block">
                <p id="detail-makcomblang-deskripsi" style="color: gray;"></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="title-content">Ulasan</div>
      <div class="card">
        <div class="card-content card-content-padding">
          <div class="detail-client-nama">Si A</div>
          <div class="detail-client-rating">
            <span class="fa fa-star ratings-checked"></span>
            <span class="fa fa-star ratings-checked"></span>
            <span class="fa fa-star ratings-checked"></span>
            <span class="fa fa-star ratings-checked"></span>
            <span class="fa fa-star"></span>
          </div>
          <div class="detail-client-comment">This is a simple card with plain text, but cards can also contain their own header, footer, list view, image, or any other element.</div>
        </div>
      </div>

    </div>
  </div>
</div>
