<div class="page" data-name="detail_info_client">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
           <a href="#" class="back link icon-only">
              <i class="icon icon-back"></i>
           </a>
       </div>
      <div class="title" id="detail-makcomblang-title"></div>
     </div>
  </div>
  <div class="page-content hide-bars-on-scroll">
    <div class="block">
      <div class="row">
        <div class="col"><img class="detail-image-user" src="" alt="" width="80%" height="180px;"></div>
      </div>
      </div>
      <div class="list">
        <ul>
          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Informasi Umum</div>
              </div></a>
              <div class="accordion-item-content">
                <div class="block">
                  <p style="color: gray;"> Nama : <span id="detail-makcomblang-nama"></span> </p>
                  <p style="color: gray;"> Email : <span id="detail-makcomblang-email"></span> </p>
                  <p style="color: gray;"> Jenis Kelamin : <span id="detail-makcomblang-kelamin"></span> </p>
                  <p style="color: gray;"> Kota : <span id="detail-makcomblang-kota"></span > </p>
                </div>

              </div>
          </li>
          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Deskripsi</div>
              </div></a>
            <div class="accordion-item-content">
              <div class="block">
                <p id="detail-makcomblang-deskripsi" style="color: gray;"></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
