<div class="page" data-name="register">
  <div class="navbar">
      <div class="navbar-inner sliding">
          <div class="left bar-icon">
             <a href="/index/">
                <i class="icon icon-back"></i>
             </a>
          </div>
          <div class="title">Create Account</div>
       </div>
  </div>
  <div class="page-content login-screen-content">
    <img class="icon-app" src="img/icon.png" alt="" width="80%" height="300px;" style="border-radius: 50%; margin-top: 5%; margin-left: 10%;">
    <form action="#" method="POST" class="form-regis-submit">
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Username</div>
              <div class="item-input-wrap">
                <input type="text" autofocus="" name="username" id="username-register" placeholder="Your username" required validate>
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Email</div>
              <div class="item-input-wrap">
                <input type="email" name="email" id="email-register" placeholder="example@email.com" required validate>
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Password</div>
              <div class="item-input-wrap">
                <input type="password" name="password" id="password-register" placeholder="Your password" required validate minlength="6">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title">Ketik Ulang Password</div>
              <div class="item-input-wrap">
                <input type="password" name="retype_password" id="retype_password-register" placeholder="Retype password" required validate minlength="6">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li>
            <a class="item-link smart-select smart-select-init" data-open-in="sheet">
              <select name="sebagai" id="sebagai-register">
                <option value="1" selected>Client</option>
                <option value="2">Makcomblang</option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Sebagai ?</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li><a class="button col button-round open-toast-bottom" id="btnregister">Buat Akun</a></li>
        </ul>
        <div class="block-footer">
          <p>Sudah punya akun ? Silahkan <a href="/login/">Masuk</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
